
<h1><%= @team_name %></h1>
<p><h2>Team Motto: <%= @team_motto %></h2></p>


<% @team_member.each do |hero| %>
  <h2>Hero Name: <%= @hero_name %></h2>
  <p>
    Hero Power: <%= @hero_power %>
    <p>Hero biography: <%= @hero_bio %></p>
  </p>
<% end %>